@charset "UTF-8";
/* CSS Document */


/**********************************************************************************************

        Title     : CSS for Ahsipractice WEBSITE
        Author : Ahsi
        Blog    :http://nowills.blogspot.com/
        Date   : 2024 /  09  / 20


***********************************************************************************************
                0 Global Reset
                1 body
                        1.0 defind
                        1.1 wrapper
                        1.2 header
                        1.3 navigation
                        1.4 logo
                        1.5 content
                        1.6 footer
                2 link
                3 Button
                4 input,select,textarea
                5 user_setting
                6 class


***********************************************************************************************/



/* 0. Global Reset

-----------------------------------------------------------------------------------------------

===============================================================================================*/

/*@import url(http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css);*/

/* 1. body

-----------------------------------------------------------------------------------------------

===============================================================================================*/
/*1.0 defind*/

* {
    margin: 0;
    padding: 0;
}

.indexHtml {
    height: 100%;
}

.indexBody {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*1.1 wrapper*/
#out_wrapper {}

#head_wrapper {}

#content_wrapper {}

#footer_wrapper {}

/*1.2 header*/
.indexHeader {
    background: rgb(204, 201, 201);
    height: fit-content;
}

#head {}

/*1.3 navigation*/

/*1.4 logo*/

/*1.5 content*/
#content {}

/*1.6 main*/
.indexMain {
    flex-grow: 1;
    min-width: 1300px;
    background: rgb(255, 255, 255);
    /*margin-bottom: -50px;*/
}

/*1.7 aside*/
.indexAside {
    display: inline-flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    width: 40%;
    height: 100%;
    justify-content: start;
    align-items: start;
    /*float: inline-start;*/
    box-sizing: border-box;
}

/*1.8 section*/
.indexSection {
    display: inline-flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    height: 98%;
    /*padding-bottom: 50px;*/
    justify-content: start;
    align-items: start;
    /*float: inline-end;*/
    box-sizing: border-box;
}

/*1.9 footer*/
.indexFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 50px;
    background: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

/*1-10 other*/
.indexIframe {
    height: 100%;
    width: 100%;
}

/* 2. link

-----------------------------------------------------------------------------------------------

===============================================================================================*/
a {}

a:hover {}

/*3 Button

-----------------------------------------------------------------------------------------------

===============================================================================================*/
.buttonRadius10 {
    border-radius: 10%;
    margin: 2px;
    width: 40px;
}

.question8Button {
    width: 30px;
    height: 30px;
}

/* 4 input,select,textarea

-----------------------------------------------------------------------------------------------
===============================================================================================*/
.textAreaInput {
    width: 770px;
    height: 50px;
}


/*5 user_setting

-----------------------------------------------------------------------------------------------

===============================================================================================*/


.indexTable {
    border-collapse: collapse;
    border: 2px solid rgb(60, 63, 65);
}

.indexThead {
    background-color: rgb(228, 240, 245);
}

.indexTable th {
    border: 1px solid rgb(0, 0, 0);
}

.indexTable tbody>tr:nth-of-type(even) {
    background-color: rgb(240, 245, 247);
}

.indexTable tr td {
    border: 1px solid rgb(0, 0, 0);
}

/*6 class

-----------------------------------------------------------------------------------------------

===============================================================================================*/
/*---- 文字 ----*/
.redFont {
    color: rgb(255, 0, 0);
}
.greenFont{
  color:rgb(0,255,0);
}
.alignEnd {
    text-align: end;
}

.alignStart {
    text-align: start;
}

.noBorder {
    border: none;
}

.alignCenter {
    text-align: center;
    justify-content: center;
    align-content: center;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/*---- 表格相關 ----*/
.question3>tbody tr td {
    border-color: rgb(255, 255, 255);
}

.question4Tr {
    background-color: rgb(200, 200, 250);
}

.question4TrStart td {
    padding: 2px;
}

/*
.q4TD{
    margin:1px;
    background-color: red;
}*/
.question47SubTable {
    border: 2px solid rgb(0, 0, 0);
}

.question47SubTable tr td {
    border: 1px solid rgb(0, 0, 0);

}

.question47SubTable tbody>tr:nth-last-of-type(even) {
    background-color: rgb(230, 230, 230);
}

.question47Sub2Table tr td {
    border: none;

}

.question47Sub2Table tbody>tr:nth-last-of-type(even) {
    background-color: rgb(230, 230, 230);
}

.question47-1SubTable {
    border: none;
}

.question47-1SubTable tr td {
    border: 1px solid rgb(0, 0, 0);
}

.question47-1Sub2Table tr td {
    border: none;
}

.question47-2SubTable {
    border: none;
}

.question47-2SubTable tr td {
    border: 1px solid rgb(0, 0, 0);
}

.question47-2Sub2Table tr td {
    border: none;
}

.question47-3SubTable {
    border: none;
}

.question47-3SubTable tr td {
    border: 1px solid rgb(0, 0, 0);
}

.question47-3Sub2Table tr td {
    border: none;
}

.inputNumber47-3 {
    width: 50px;
}